.header-container {
  height: 100px;
  width: 100%;
  border: groove;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .links-container {
    width: 100%;
    height: 100%;
    justify-self: left;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .link-container {
    padding: 10px 15px;
    cursor: pointer;
    border: double;
    Link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
